[submodule "software/gemmini-rocc-tests"]
	path = software/gemmini-rocc-tests
	url = https://github.com/SeahK/gemmini-rocc-tests-moca-ae.git 
[submodule "software/onnxruntime-riscv"]
	path = software/onnxruntime-riscv
	url = https://github.com/pranav-prakash/onnxruntime-riscv.git
